{% extends "layout/base.html" %}
{% block title %}SSA COLLECT{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <script>
    
    function sendMacAddress10Times() {
    	$.get("/sendMacAddress10Times", function(data, status){
//             alert("Data: " + data + "\nStatus: " + status);
		$("#myModal").modal()
        });
    }
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
			
		</div>
		
		<div class="col-md-4 text-center">
			<button onclick="sendMacAddress()" type="button" class="btn btn-primary btn-md">One Mac Send</button>
		</div>
		
        <div class="col-md-4">
			
		</div>
	</div>
	
	<br/>
	
	<div class="row">
		<table id="example" class="display" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>Tenant</th>
	                <th>Create Date</th>
	                <th>Mac Address</th>
	                <th>Email</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>Tenant</th>
	                <th>Create Date</th>
	                <th>Mac Address</th>
	                <th>Email</th>
	            </tr>
	        </tfoot>
	    </table>
	</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">데이터 전송 상태</h4>
        </div>
        <div class="modal-body">
          <p id="message">성공적으로 전송되었습니다.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
    <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">데이터 전송 상태</h4>
        </div>
        <div class="modal-body">
          <p id="message2">성공적으로 전송되었습니다.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}

{% block jscript %}
<script>

var accessToken = "";
var dt = "";

$(document).ready(function() {
	$("#message").text("로딩 중입니다.");
	$("#myModal").modal();
	$.get("/tenants/{{tenant}}", function(data, status){
		accessToken = data;
	}).done(function() {
		$('#myModal').modal('hide');
			
		dt = $('#example').DataTable({
		    "ajax": {
		        "url": "https://52.198.181.5:8243/ssa/v.1.0/macs",
		        "dataSrc": "data",
		        "beforeSend": function (request) {
		            request.setRequestHeader("authorization", "Bearer "+accessToken);
		        },
		        "error": function(result){
		        	$("#message2").text("권한이 필요합니다.");
		        	$("#myModal2").modal();
		        }
		    },
		    "columns": [
		        { "data": "tenant_id" },
		        { "data": "create_time" },
		        { "data": "macaddress" },
		        { "data": "user_id" }
		    ]
		});
		
	});
});

function genMAC(){
    var hexDigits = "0123456789ABCDEF";
    var macAddress = "";
    for (var i = 0; i < 6; i++) {
        macAddress+=hexDigits.charAt(Math.round(Math.random() * 15));
        macAddress+=hexDigits.charAt(Math.round(Math.random() * 15));
        if (i != 5) macAddress += ":";
    }
    return macAddress;
}

function sendMacAddress() {
	var date = new Date();
    var unixTimeStamp = date.getTime();
    var macDate = {timestamp : unixTimeStamp, mac : genMAC()};
	var settings = {
			  "async": true,
			  "crossDomain": true,
			  "url": "https://52.198.181.5:8243/ssa/v.1.0/mac",
			  "method": "POST",
			  "headers": {
			    "content-type": "application/json",
			    "authorization": "Bearer "+accessToken,
			    "Access-Control-Allow-Origin": "*"
			  },
			  "processData": false,
			  "data": JSON.stringify(macDate)
			}

			$.ajax(settings).done(function (response) {
				$("#message").text("정상적으로 DATA를 전송하였습니다.");
				$("#myModal").modal();
				dt.ajax.reload();
	});
}
</script>

{% endblock %}
