{% extends "layout/base.html" %}
{% block title %}SSA HOME{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>


{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="table table-condensed" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                <tr>
                    <td>Disk Information</td>
                    <td>2016/07/13 15:00:00</td>
                    <td>2016/07/13 18:34:21</td>
                    <td>FINISH</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

	<div class="modal fade" id="mymodal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">알림</h4>
	      </div>
	      <div class="modal-body">
	        <p id="message"> </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock %}

{% block jscript %}
<script>
var accessToken = "";

$(document).ready(function () {
	$.get("/tenants/{{tenant}}", function(data, status){
		accessToken = data;
	}).done(function() {
		$("#message").text("정상적으로 로그인이 완료되었습니다.")
		$("#mymodal").modal();
	});
});
</script>
{% endblock %}
