{% extends "layout/base.html" %}
{% block title %}Flask Intro{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
      <h1>Script CMD</h2>
      <br>
	<form class="form-horizontal" method="POST" action="/hello">
        <div class="form-group">
            <label for="scriptTitle" class="control-label col-xs-2">Script Title</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="scriptTitle" name="scriptTitle" placeholder="Title">
            </div>
        </div>
        <div class="form-group">
            <label for="scriptContex" class="control-label col-xs-2">Script Content</label>
            <div class="col-xs-10">
                <textarea class="form-control" rows="5" id="scriptContent" name="scriptContent" placeholder="Content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
{% endblock %}